<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/login-styles.css}">
    <link rel="stylesheet" th:href="@{/common-styles.css}">
</head>
<body>
    <header>
        <h1>Invest Manager</h1>
    </header>
    <main>
        <form method="post" th:action="@{/login}" th:object="${user}">
            <fieldset>
                <legend>Authorization</legend>
                <div>
                    <label for="username">Username</label>
                    <input type="text" required id="username" th:field="*{username}"/>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" required id="password" th:field="*{password}"/>
                </div>
                <button type="submit">Log in</button>
            </fieldset>

            <div class="errorMessage" th:if="${error} != null" th:text="${error}">
                Login Error
            </div>
        </form>

        <form id="button" th:action="@{/register}">
            <button type="submit">Register new user</button>
        </form>
    </main>
    <footer>
        <p>
            Application was developed by Leonid Asanin.
        </p>
        <address>
            Contact information:<br>
            Email: <a href="mailto:l.asanin@mail.ru">l.asanin@mail.ru</a><br>
            GitHub: <a href="https://github.com/LeonidAsanin" target="_blank">github.com/LeonidAsanin</a>
        </address>
    </footer>
</body>
</html>