<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/login-styles.css}">
</head>
<body>
    <h1>Invest Manager</h1>

    <form method="post">
        <fieldset>
            <legend>Registration</legend>
            <div>
                <label>Username</label>
                <input type="text" id="username" required minlength="2" name="username" th:value="${username}">
            </div>
            <div>
                <label>Password</label>
                <input type="password" id="password" required minlength="8" name="password">
            </div>
            <div>
                <label>Confirm Password</label>
                <input type="password" id="passwordConfirmation" required minlength="8" name="passwordConfirmation">
            </div>
            <button type="submit">Register</button>
        </fieldset>

        <div class="errorMessage" th:if="${error} != null" th:text="${error}">
            Registration Error
        </div>
    </form>

    <form id="button" th:action="@{/login}">
        <button type="submit">Back</button>
    </form>
</body>
</html>